<ion-tabs class="tabs-icon-top tabs-background-positive tabs-color-light">

    <!-- Profile Tab -->
    <ion-tab title="Profie" icon-off="ion-ios-profile-outline" icon-on="ion-ios-profile" href="#/tab/profile">
      <ion-nav-view name="tab-profile"></ion-nav-view>
    </ion-tab>
  
    <!-- Chats Tab -->
    <ion-tab title="Search" icon-off="ion-ios-search-outline" icon-on="ion-search-chatboxes" href="#/tab/search">
      <ion-nav-view name="tab-search"></ion-nav-view>
    </ion-tab>
  
    <!-- Account Tab -->
    <ion-tab title="Pantry" icon-off="ion-ios-pantry-outline" icon-on="ion-ios-pantry" href="#/tab/pantry">
      <ion-nav-view name="tab-pantry"></ion-nav-view>
    </ion-tab>
  
  </ion-tabs>
  