.body {
  --background: #FAF7F2;
}

.recipe-title {
  margin-left: 45px;
  margin-top: 40px;
  font-size: xx-large;
  font-weight: bold;
}

.sort-button {
  float: right;
  padding-top: 10px;
}

.recipe-header {
  float: left;
  font-size: medium;
  color: #4d4d4d;
}

.recipe-search {
  margin-left: 45px;
  margin-right: 25px;
}

.recipe-list {
  position: absolute;
  top: 146px;
  left: 22px;
  width: 331px;
}

.recipe-label {
  margin-left: 20px;
}

.recipe-image {
  width: 100px;
  height: 100px;
}

.recipe-item {
  margin: 10px auto;
  --background: white;
  --border-style: none;
  --border-radius: 5px;
}

.heart {
  color: #E16033;
}

.liked {
  --background: none;
  --background-activated: none;
}