ion-content{
    --ion-background-color:#FAF7F2;
    font-family: Poppins;
}

.pantry-title {
  font-family: Poppins;
  font-size: xx-large;
  font-weight: 600;
  float: left;
}

.pantry-header {
  font-family: Poppins;
    float: left;
    font-size: medium;
    font-weight: 600;
    color: #4d4d4d;
}

.ingredient-name {
  font-family: Poppins;
  font-size: 16px;
    padding: 20px;
    font-weight: 600;
}

ion-label {
  font-family: Poppins !important;
  font-size: 16px;
}

.add-pantry {
  position: absolute;
  width: 90px;
  height: 21px;
  left: 259px;
  border: none;
  background: none;
}

.item-remove-animate{
  border-radius: 20px !important;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
  height: 71px;
}
.searchbar{
  padding-left: 5px;
  padding-right: 5px;
}
.text-block{
  font-family: Poppins;
  position: relative;
  top: -40px;
  left: 40px;
}

.title-and-button {
  margin-left: 35px;
  margin-top: 40px;
}

.add-button {
  padding-left: 90px;
  padding-top: 15px;
  padding-right: 20px;
  float: right;
  ion-icon {
    color: #E16033;
  }
  p {
    font-family: Poppins;
    font-size: 16px;
    color: #E16033;
  }
}
