<ion-content fullscreen>
  <div class="title-and-button">
    <h3 class = "pantry-title">Virtual Pantry</h3>
    <ion-button fill="clear"
                size="default"
                color="dark"
                class="add-button"
                routerLink="/tabs/pantry/add-ingredients">
      <ion-icon slot="icon-only"
                name="add-circle-outline">
      </ion-icon>
      <p>Add New</p>
    </ion-button>
  </div>
  <div class="searchbar">
    <ion-searchbar
      placeholder="Search Ingredients"
      [(ngModel)] = "searchTerm">
    </ion-searchbar>
  </div>
  <ion-list-header>
    <p class="pantry-header">Ingredients({{displayIngredients.length}})</p>
  </ion-list-header>
  <ion-list>
    <ion-item-sliding *ngFor="let ingredient of displayIngredients | filter: searchTerm; let i = index" (ionSwipe)="delete(item)">
        <ion-item>
          <ion-thumbnail>
            <img src="https://spoonacular.com/cdn/ingredients_100x100/{{ingredient.image}}">
          </ion-thumbnail>
          <div class="ingredient-name">
            {{ingredient.name | titlecase}}
          </div>
      </ion-item>
      <ion-item-options>
        <button ion-button expandable (click)="remove(i)">Remove</button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>


