ion-content{

    --ion-background-color:#FAF7F2;
}

.pantry-title {
    margin-left: 45px;
    margin-top: 40px;
    font-size: xx-large;
    font-weight: bold;
}

.pantry-header {
    float: left;
    font-size: medium;
    color: #4d4d4d;
}
