<style>
  h3 {
      margin-left: 50px;
      margin-top: 32px;
      font-size: 24px;
      
  }
  .add-pantry {
    position: absolute;
    width: 90px;
    height: 21px;
    left: 259px;
    border: none;
    background: none;
  }
 
  .item-remove-animate{
  border-radius: 20px !important;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
  height: 71px;
  }
  .searchbar{
    position: relative;
    top: 15px;
  }
  .text-block{
    position: relative;
    top: -40px;
    left: 40px;
  }
  .title {

    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;

    color: #202020;
  }
  </style>
  <ion-content fullscreen>
    <h3 class = "title">Virtual Pantry</h3>
    <a routerLink="/tabs/pantry/add-ingredients"><button class = "add-pantry"><img  width = "90" height = "21" src = "../../assets/icon/add_new.png"></button></a>
    <div class="searchbar">
      <ion-searchbar 
        placeholder="Search Ingredients"
        [(ngModel)] = "searchTerm" 
      ></ion-searchbar>
      <!-- <img src = "../../assets/icon/search.png" class = "searchbarimg">
      <div class = "text-block">
        <p style = "color: #C4C4C4;">Search Ingredients</p>
      </div> -->
    </div>

    <!-- <h class="ion-padding-start ion-padding-end">Ingredients</h> -->
    
    <ion-list-header>
      <ion-label>Ingredients</ion-label>
    </ion-list-header>

    <ion-list>
      <ion-item-sliding *ngFor="let ingredient of testIngredients | filter: searchTerm; let i = index" (ionSwipe)="delete(item)">
        <ion-item (click)="itemDetails($event, item)">
          {{ingredient.name}}
          <!-- <ion-label>Item</ion-label> -->
        </ion-item>
        <ion-item-options>
          <button ion-button expandable (click)="remove(i)">Remove</button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
   
    <!-- <h>Ingredients ({{chats.length}})</h> -->
    <!--<ion-list #userIngredientsList>
      <ion-item-sliding *ngFor="let ingredient of group.ingredients">
      <ion-item>
        <ion-label>
          <h3>{{{ingredient}}}</h3>
        </ion-label>
      </ion-item>
      </ion-item-sliding>
    </ion-list> 
  -->
  </ion-content>

  
