<ion-content fullscreen="true" class="body">
  <ion-header>
    <ion-toolbar class="add-ingredient-back">
      <ion-buttons slot="start" class = "custom-back">
        <ion-back-button  [defaultHref]="defaultHref"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <div class="ingredients-header">
    <h3 class="ingredients-title">Add Ingredients</h3>
  </div>
  <h4 class="ingredients-subtitle">Search and add ingredients to your pantry.</h4>
    <ion-searchbar (ionChange) = "refresh()"
                 class="ingredients-search"
                 placeholder="Search Ingredients"
                 [(ngModel)] = "searchTerm">
    </ion-searchbar>
  <ion-list>
    <ion-card button
              detail="false"
              *ngFor="let ingredient of ingredientsList | filter: searchTerm"
              (click)="toggleIngredient(ingredient)">
      <img src="https://spoonacular.com/cdn/ingredients_100x100/{{ingredient.image}}" class="card-image">
      <ion-card-title class="ingredient-name">
        {{ingredient.name | titlecase}}
      </ion-card-title>
    </ion-card>
  </ion-list>
</ion-content>
