<ion-content class="body">
  <ion-toolbar class="add-ingredient-back">
    <ion-buttons slot="start" class = "custom-back">
    <ion-back-button  [defaultHref]="defaultHref"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  <div class="ingredients-header">
    <h3 class="ingredients-title">Add Ingredients</h3>
  </div>
  <h4 class="ingredients-subtitle">Search and add ingredients to your pantry.</h4>
  <ion-searchbar (ionChange) = "refresh()" class="ingredients-search" placeholder="Search Ingredients"
  [(ngModel)] = "searchTerm" ></ion-searchbar>
  <ion-list>
    <ion-item button
              detail="false"
              *ngFor="let ingredient of ingredientsList | filter: searchTerm"
              (click)="toggleIngredient(ingredient)">
      <!-- {{ingredient.name}} -->
      <ion-thumbnail>
        <img src="https://spoonacular.com/cdn/ingredients_100x100/{{ingredient.image}}">
      </ion-thumbnail>
      <div class="ingredient-name">
        {{ingredient.name}}
      </div>
    </ion-item>
  </ion-list>
</ion-content>
