ion-toolbar {
  --background:#FAF7F2;
  --border-style: none;
}

.body {
  font-family: Poppins;
  --ion-background-color:#FAF7F2;
}

.ingredients-header {
  width: 83%;
  margin-left: 40px;
}

.ingredients-title {
  font-family: Poppins;
  font-size: xx-large;
  font-weight: 600;
  float: left;
}

.add-button {
  padding-top: 16px;
  float: right;
}

.ingredients-subtitle {
  float: left;
  font-size: smaller;
  color: #4d4d4d;
  margin-top: 5px;
  margin-left: 40px;
}

.ingredients-search {
  width: 90%;
  margin-left: 23px;
}

.ingredient-name {
  font-family: Poppins;
  padding: 20px;
  font-weight: 600;
  font-size: 16px;
  vertical-align: middle;
}

ion-back-button {
  color: #202020;
}

.card-image{
  float: left;
  padding-right: 10px;
  height: 80px;
  width: 80px;
  overflow: hidden;
  object-fit: cover;

}

ion-card {
  --background: white;
}
