.body {
  --ion-background-color:#FAF7F2;
}

.ingredients-header {
  width: 83%;
  margin-left: 40px;
}

.ingredients-title {
  font-size: xx-large;
  font-weight: bold;
  float: left;
}

.add-button {
  padding-top: 16px;
  float: right;
}

.ingredients-subtitle {
  float: left;
  font-size: smaller;
  color: #4d4d4d;
  margin-top: 5px;
  margin-left: 40px;
}

.ingredients-search {
  width: 90%;
  margin-left: 23px;
}

.add-ingredient-back {
  --background: #F8CB71;
}

.ingredient-name {
  padding: 20px;
  font-weight: bold;
  font-size: x-large;
  vertical-align: middle;
}

ion-back-button {
  color: #202020;
}

.card-image{
  float: left;
  padding-right: 10px;
}
