<ion-content class="body">
  <div class="ingredients-header">
    <h3 class="ingredients-title">Add Ingredients</h3>
    <ion-button fill="clear"
                size="default"
                color="danger"
                class="add-button">
      <ion-icon slot="icon-only"
                name="add-circle-outline">
      </ion-icon>
    </ion-button>
  </div>
  <h4 class="ingredients-subtitle">Search and add ingredients to your pantry.</h4>
  <ion-searchbar class="ingredients-search"></ion-searchbar>
  <ul>
    <li *ngFor="let ingredient of ingredientsList" (click)="toggleIngredient(ingredient)">
      {{ingredient}}
    </li>
  </ul>
</ion-content>
