<ion-header>
  <ion-toolbar class = "new-background-color">
    <ion-buttons slot="start">
    <ion-back-button defaultHref="tabs/profile" color = "dark"></ion-back-button>
    </ion-buttons>
    <ion-title>Liked Recipes</ion-title>
  </ion-toolbar>
  <!-- put the search bar here -->
</ion-header>

<ion-content fullscreen class = "body">
  <ion-searchbar (ionChange) = "refresh()"
                 class="liked-recipes-search"
                 placeholder="Search Recipes"
                 [(ngModel)] = "searchTerm">
  </ion-searchbar>
  <div class="recipe-list">
    <ion-list>
      <ion-item-sliding *ngFor="let recipe of display; let i = index">
    <ion-item class="recipe-item" routerLink="./recipe/{{recipe.id}}" (click)="updateCurrRecipe(i)">
      <ion-icon name="heart" class="heart"></ion-icon>
      <ion-thumbnail class="recipe-image">
        <img src={{recipe.image}}>
      </ion-thumbnail>
      <ion-label class="recipe-label">
        <h3>{{recipe.title}}</h3>
        <p>
          <ion-icon name="time-outline"></ion-icon>
          {{recipe.readyInMinutes}} min
        </p>
      </ion-label>
  </ion-item>
</ion-item-sliding>
  </ion-list>
</div>
</ion-content>
