<style>
  .dietary-blob{
    display: flex;
    justify-content: center;
  }
  .center {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
</style>
<ion-header>
  <ion-toolbar class = "new-background-color">
    <ion-buttons slot="start">
    <ion-back-button defaultHref="tabs/profile" color = "dark"></ion-back-button>
    </ion-buttons>
    <ion-title>Liked Recipes</ion-title>
  </ion-toolbar>
  <!-- put the search bar here -->
</ion-header>

<ion-content fullscreen class = "body">
  <ion-searchbar (ionChange) = "refresh()"
                 class="liked-recipes-search"
                 placeholder="Search Recipes"
                 [(ngModel)] = "searchTerm">
  </ion-searchbar>
  <div class="recipe-list">
    <ion-list>
      <ion-item-sliding *ngFor="let recipe of display; let i = index">
    <ion-item class="recipe-item" routerLink="./recipe/{{recipe.id}}" (click)="updateCurrRecipe(i)">
      <ion-icon name="heart" class="heart"></ion-icon>
      <ion-thumbnail class="recipe-image">
        <img src={{recipe.image}}>
      </ion-thumbnail>
      <ion-label class="recipe-label">
        <h3>{{recipe.title}}</h3>
        <p>
          TBD / {{recipe.extendedIngredients.length}} ingredients
        </p>
        <p>
          <ion-icon name="time-outline"></ion-icon>
          {{recipe.readyInMinutes}} min
        </p>
      </ion-label>
  </ion-item>
</ion-item-sliding>
  </ion-list>
</div>
</ion-content>
