.new-background-color{
    --border-style: none;
    --background: #FAF7F2;
}
.body {
    --ion-background-color:#FAF7F2 !important;
}
ion-title{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}
ion-button {
    --background: #F8CB71 !important;
    --background-activated: #E16033 !important;
}
ion-button-back {
    color: #F8CB71 !important;
    color-focused: #E16033 !important;
}
ion-content {
    --padding-bottom: 10px;
    --padding-end: 10px;
    --padding-start: 20px;
    --padding-top: 20px;
}

ion-title {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}