<ion-content fullscreen>
  <h3 class="title">Profile</h3>
  <div class="profile-blob">
    <img src="../../assets/icon/profile-blob-corner.svg">
  </div>

  <ion-list class="profile-list">
    <ion-item lines="none" class="selection" routerLink="/tabs/profile/cooking-skills">
      <ion-thumbnail slot = "start">
        <img class = "icon" src="../../assets/icon/cooking-skill.svg">
      </ion-thumbnail>

      <!-- figure out how to route to new pages -->
      <ion-label>Cooking Skill Level</ion-label>

    </ion-item>
    <ion-item lines="none" class="selection" routerLink="/tabs/profile/dietary-restrictions">
      <ion-thumbnail slot = "start">
        <img class = "icon" src="../../assets/icon/diet-restr.svg">
      </ion-thumbnail>
      <ion-label>Dietary Restrictions</ion-label>
    </ion-item>
    <ion-item lines="none" class="selection" routerLink="/tabs/profile/kitchen-tools">
      <ion-thumbnail slot = "start">
        <img class = "icon" src="../../assets/icon/appliances.svg">
      </ion-thumbnail>
      <ion-label>Kitchen Appliances/Tools</ion-label>
    </ion-item>
    <ion-item lines="none" class="selection" routerLink="/tabs/profile/liked-recipes">
      <ion-thumbnail slot = "start">
        <img class = "icon" src="../../assets/icon/liked-recipes.svg">
      </ion-thumbnail>
      <ion-label>Liked Recipes</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
