<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">recipe</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p style="text-align: center;">Recipe</p>
  <p style="text-align: left;">Cook Time: 1</p>
  <p style="text-align: left;">Course: Not dinner</p>
  <p style="text-align: left;">Ingredients</p>
  <ul>
  <li style="text-align: left;">tofu</li>
  <li style="text-align: left;">spinach</li>
  <li style="text-align: left;">yes</li>
  </ul>
  <p>Instructions</p>
  <ol>
  <li>Yes</li>
  <li>yes</li>
  <li>no</li>
  <li>maybe</li>
  <li>yes</li>
  </ol>
</ion-content>
