<ion-content fullscreen>
  <ion-nav [root]="CookingSkillsPage"></ion-nav>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
      <ion-alert-controller></ion-alert-controller>
      <ion-back-button color = "dark" defaultHref="/tabs/profile"></ion-back-button>
      </ion-buttons>
      <ion-title>Cooking Skill Level</ion-title>
    </ion-toolbar>
    <div class="dietary-blob">
      <img src="../../assets/icon/cooking-blob.png">
    </div>
  </ion-header>
    <p class="ion-padding-vertical ion-text-center">Select your cooking skill level.</p>
    <div class="list ion-padding-vertical">
      <ion-list>
        <!-- https://www.freakyjolly.com/ionic-4-add-radio-lists-in-radio-group-example-and-tutorial/ -->
        <ion-radio-group [(ngModel)]="chosen_skill" allow-empty-selection="true" (ionChange)="radioGroupChange($event)">
          <ion-item lines="none" *ngFor="let item of skillList" (ionSelect)="radioSelect($event)">
            <ion-label>{{item.text}}</ion-label>
            <ion-radio slot="start" name="{{item.name}}" value="{{item.value}}"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
    </div>
  
  
</ion-content>
<ion-footer>
  <ion-button class="button-large" (click)="saveSkills()">Save Changes</ion-button>
  <!-- test user storage -->
  <!-- <ion-button class = "center" (click)="loadData()">Load Data</ion-button> -->
</ion-footer>



