<ion-tabs>

  <ion-tab-bar slot="bottom" color="warning">
    <ion-tab-button tab="profile">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="recipe-search">
      <ion-icon name="search-outline"></ion-icon>
      <ion-label>Recipe Search</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="pantry">
      <ion-icon name="file-tray-stacked-outline"></ion-icon>
      <ion-label>Pantry</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
