<ion-header>
  <ion-toolbar class = "new-background-color">
    <ion-buttons slot="start">
    <ion-back-button [defaultHref]="defaultHref" color = "dark"></ion-back-button>
    </ion-buttons>
    <ion-title>Filters</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-list>
    <div>
      <p class = "title">TOTAL COOK TIME<br /> </p>
      <ion-range id="dual-range" min="0" max="120" step="30" value="30"
      snaps ticks = "true" dual-knobs pin color="warning"
      [(ngModel)]="time" (ionChange)="setBadge(time)">
      <ion-label>0 min</ion-label>
      </ion-range>
      <ion-row>
        <ion-col>0 min</ion-col>
        <ion-col>30 min</ion-col>
        <ion-col>1 hour</ion-col>
        <ion-col>1.5 hour</ion-col>
        <ion-col>2 hours</ion-col>
      </ion-row>
      <!--Todo: integrate to save the information-->
      <!--change the pin color https://ionicframework.com/docs/theming/colors-->
    </div>
    <div>
      <p class = "title">INGREDIENTS<br /> </p>
      <ion-select multiple [interfaceOptions]="{'cssClass': 'wider-popover'}" placeholder="Select One" [(ngModel)] = "ingredients"> <!--visual-->
        <ion-select-option *ngFor="let ingredient of userIngredients">{{ingredient | titlecase}}</ion-select-option>
      </ion-select>
    </div>
    <div>
      <p class = "title">COURSE<br /> </p>
      <ion-select [interfaceOptions]="{'cssClass': 'wider-popover'}" placeholder="Select One" interface="popover" [(ngModel)] = "course"  (ionChange)="selectCourse(course)" > <!--visual-->
        <ion-select-option value="course1">course1</ion-select-option>
        <ion-select-option value="course2">course2</ion-select-option>
      </ion-select>
    </div>
    <div>
      <p class = "title">CUISINE TYPE<br /> </p>
      <ion-select [interfaceOptions]="{'cssClass': 'wider-popover'}" placeholder="Select One" interface="popover" [(ngModel)] = "cuisine"  (ionChange)="selectCuisine(cuisine)" > <!--visual-->
        <ion-select-option value="course1">course1</ion-select-option>
        <ion-select-option value="course2">course2</ion-select-option>
      </ion-select>
    </div>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-button class = "center" (click)="saveSkills()">Save Changes</ion-button>
</ion-footer>
